{{ form_start(form) }}
{% if is_granted('ROLE_COMMENT_CREATE') %}
    {{ form_row(form.commentText) }}
    {{ form_row(form.isCommentPublic) }}
{% endif %}
{#{% if is_granted('ROLE_COMMENT_EDIT') %}#}
{#        {{ form_row(form.author) }}#}
{#{% endif %}#}
{{ form_widget(form._token) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}
