{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1>Comment index</h1>
    {% if is_granted('ROLE_ADMIN_COMMENT') %}
        <h2>Authored comments</h2>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>CommentText</th>
            <th>IsCommentPublic</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            {% if app.user == comment.author %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.commentText }}</td>
                    <td>{{ comment.isCommentPublic ? 'Yes' : 'No' }}</td>
                    <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('comment_show', {'ticketid' : comment.ticket.id, 'commentid': comment.id}) }}">show</a>
                        <a href="{{ path('comment_edit', {'ticketid' : comment.ticket.id, 'commentid': comment.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user.authoredComments is empty %}
        <p>no records with your name on were found</p>
    {% endif %}
    {% if is_granted('ROLE_ADMIN_COMMENT') %}
        <h2>Comments of assigned tickets</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>CommentText</th>
                <th>IsCommentPublic</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                {% if app.user in comment.ticket.users %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.commentText }}</td>
                        <td>{{ comment.isCommentPublic ? 'Yes' : 'No' }}</td>
                        <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('comment_show', {'ticketid' : comment.ticket.id, 'commentid': comment.id}) }}">show</a>
                            <a href="{{ path('comment_edit', {'ticketid' : comment.ticket.id, 'commentid': comment.id}) }}">edit</a>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if app.user.authoredTickets is empty %}
            <p>no records with your name on were found</p>
        {% endif %}
    {% endif %}
    <a href="{{ path('ticket_index') }}">to tickets</a>
{% endblock %}

