{{ form_start(form) }}
    {{ form_row(form.description) }}

<h3>Tags</h3>
<ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">    {% for tag in form.tags %}
        <li>{{ form_row(tag.name) }}</li>
    {% endfor %}
</ul>
{{ form_end(form) }}
 {% block stylesheets %}
     {{ encore_entry_link_tags('app') }}
 {% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
