{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
{% if is_granted('ROLE_TICKET_CREATE')%}
    {{ form_row(form.ticketText) }}
{% endif %}
{% if is_granted('ROLE_TICKET_EDIT') %}
{#    {{ form_row(form.priorityLevel) }}#}
{#    {{ form_row(form.externalStatusMessage) }}#}
    {{ form_row(form.users) }}
{#    {{ form_row(form.author) }}#}
{% endif %}
{{ form_widget(form._token) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}
