{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>
    {% if is_granted('ROLE_TICKET_ADMIN') %}
        <h2>Authored tickets</h2>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>PriorityLevel</th>
            <th>ExternalStatusMessage</th>
            <th>TicketText</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            {% if app.user == ticket.author %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.priorityLevel }}</td>
                    <td>{{ ticket.externalStatusMessage }}</td>
                    <td>{{ ticket.ticketText }}</td>
                    <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('ticket_show', {'id': ticket.id}) }}">show</a>
                        <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user.authoredTickets is empty %}
        <p>no records with your name on were found</p>
    {% endif %}
    {% if is_granted('ROLE_TICKET_ADMIN') %}
        <h2>Assigned tickets</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>PriorityLevel</th>
                <th>ExternalStatusMessage</th>
                <th>TicketText</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                {% if app.user in ticket.users %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.priorityLevel }}</td>
                        <td>{{ ticket.externalStatusMessage }}</td>
                        <td>{{ ticket.ticketText }}</td>
                        <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('ticket_show', {'id': ticket.id}) }}">show</a>
                            <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if app.user.tickets is empty %}
            <p>no records were assigned to you</p>
        {% endif %}
    {% endif %}
    <a href="{{ path('ticket_new') }}">Create new</a>
    <a href="{{ path('comment_index_all') }}">to all comments(only for admin?) </a>
{% endblock %}
