{% extends 'base.html.twig' %}

{% block title %}Reopen Ticket{% endblock %}

{% block body %}
    <h1>Reopen Ticket</h1>

    {{ form_start(form) }}
    {% if is_granted('ROLE_TICKET_REOPEN') %}
        <ul class="comments" data-prototype="{{ form_widget(form.comments.vars.prototype)|e('html_attr') }}">
{#            {% for comment in form.comments %}#}
{#                <li>{{ form_row(comment.commentText) }}</li>#}
{#            {% endfor %}#}
        </ul>
    {% endif %}
{#    {{ form_widget(form._token) }}#}
    <button class="btn">{{ button_label|default('Reopen') }}</button>
{#        {{ form_end(form, {'render_rest': false}) }}#}
    {{ form_end(form) }}

    <a href="{{ path('ticket_index') }}">to tickets</a>
    <a href="{{ path('ticket_show', {'id' : ticket.id}) }}">back to ticket</a>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}