{% extends 'base.html.twig' %}

{% block title %}Reopen Ticket{% endblock %}

{% block body %}
    <h1>Reopen Ticket</h1>

    {{ form_start(form) }}
    {#    {{ form_widget(form) }}#}
    {% if is_granted('ROLE_TICKET_REOPEN') %}
        <ul class="comments" data-prototype="{{ form_row(form.comments.vars.prototype.commentText) }}"></ul>
        <ul class="comments" data-prototype="{{ form_row(form.comments.vars.prototype.isCommentPublic) }}"></ul>

        {#        {{ form_row(form.comments) }}#}
        {#        <ul class="tags">#}
        {#            {% for comment in form.comments %}#}
        {#                <li>{{ form_row(comment.isCommentPublic) }}</li>#}
        {#            {% endfor %}#}
        {#        </ul>#}
        {#        {{ form_widget(form.supportEntries.vars.prototype.comment) }}#}
    {% endif %}
    {{ form_widget(form._token) }}
    <button class="btn">{{ button_label|default('Reopen') }}</button>
    {{ form_end(form, {'render_rest': false}) }}

    <a href="{{ path('ticket_index') }}">to tickets</a>
    <a href="{{ path('ticket_show', {'id' : ticket.id}) }}">back to ticket</a>

{% endblock %}