{% extends 'base.html.twig' %}

{% block title %}Reopen Ticket{% endblock %}

{% block body %}
    <h1>Reopen Ticket</h1>

    {{ form_start(form) }}
    {#    {{ form_widget(form) }}#}
    {% if is_granted('ROLE_TICKET_REOPEN') %}
        <ul class="comments" data-prototype="{{ form_widget(form.comments.vars.prototype.commentText)|e('html_attr') }}">
            {% for comment in form.comments %}
                <li>{{ form_row(comment.commentText) }}</li>
            {% endfor %}
        </ul>


{#        <ul class="comments" data-prototype="{{ form_row(form.comments.vars.prototype.commentText) }}"></ul>#}

        {#        {{ form_row(form.comments) }}#}
        {#        <ul class="tags">#}
        {#            {% for comment in form.comments %}#}
        {#                <li>{{ form_row(comment.isCommentPublic) }}</li>#}
        {#            {% endfor %}#}
        {#        </ul>#}
        {#        {{ form_widget(form.supportEntries.vars.prototype.comment) }}#}
    {% endif %}
    {{ form_widget(form._token) }}
    <button class="btn">{{ button_label|default('Reopen') }}</button>
<<<<<<< HEAD
{#        {{ form_end(form, {'render_rest': false}) }}#}
    {{ form_end(form) }}
=======
    {{ form_end(form, {'render_rest': false}) }}
>>>>>>> parent of f8cc6b3... you can add a comment on reopening ticket. But form looks like a mess. This, however, is intentional, as not rendering fields may results in dramatic errors in database

    <a href="{{ path('ticket_index') }}">to tickets</a>
    <a href="{{ path('ticket_show', {'id' : ticket.id}) }}">back to ticket</a>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}