{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ ticket.id }}</td>
        </tr>
        <tr>
            <th>PriorityLevel</th>
            <td>{{ ticket.priorityLevel }}</td>
        </tr>
        <tr>
            <th>ExternalStatusMessage</th>
            <td>{{ ticket.externalStatusMessage }}</td>
        </tr>
        <tr>
            <th>TicketText</th>
            <td>{{ ticket.ticketText }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ ticket.author }}</td>
        </tr>
        <tr>
            <th>Users</th>
            {% for user in ticket.users %}
                <td>comment id {{ user.id }} <br>
                    user: {{ user.email }} <br>
                    roles user : {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>Comments</th>
            {% for comment in ticket.comments %}
                <td>comment id {{ comment.id }} <br>
                    commentText: {{ comment.commentText }} <br>
                    author: {{ comment.author }} }} <br>
                    roles author: {% for role in comment.author.roles %}
                        {{ role }}
                    {% endfor %}
                    <a href="{{ path('comment_show', {'ticketid' : comment.ticket.id, 'commentid' : comment.id}) }}">to
                        comment</a>
                </td>
            {% endfor %}
        </tr>

        </tbody>
    </table>

    <a href="{{ path('ticket_index') }}">to tickets</a>
    <a href="{{ path('comment_index_per_ticket', {'ticketid' : ticket.id}) }}">to comments per ticket</a>
    {% if is_granted('ROLE_TICKET_EDIT') %}
        <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>
    {% endif %}
    <a href="{{ path('comment_new', {'ticketid' : ticket.id}) }}">Create new comment</a>

    {{ include('ticket/_delete_form.html.twig') }}
{% endblock %}
